/* Botão Pesquisar Campeonato */
.btnPesquisar{
    padding: 6px;
    margin-top: 8px;
}

/* Botão Excluir Campeonato */
.btnExcluir{
    margin: 0;
    position: absolute;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}

/* Botão Editar Campeonato */
.btnEditar{
    margin: 0;
    position: absolute;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}