.content{
    width: 500px;
    margin: 0px auto;
    position: relative;
}
p{
    margin-bottom: 15px;
}

p:first-child{
    margin: 0px;
}

label{
    color: #405c60;
    position: relative;
}

input, select:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
}


input, select {
  outline: none;
}

input, select:not([type="checkbox"]){
    width: 25%;
    margin-top: 4px;
    padding: 10px;	
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }



  input[type="submit"]:hover{
    background: #4ab3c6;
  }

  .cadastro, .opcoes, .list .edit{
    position: center;
    width: 50%;
    padding: 30px;
    margin: auto;
    background: rgb(247, 247, 247);
    border: 3px solid #066a75;
    
    box-shadow: 5px;
    border-radius: 5px;
  
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}