<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Você está logado, <%= login %> !</h2> <br>
    <h1>Meu perfil:</h1>

         <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome:</th><br>
                        <th>E-mail:</th>
                        <th>Cargo:</th>
                        <th>CPF</th> 
                        <th>Aniversario</th>
                        <th>Nacionalidade</th>
                    </tr>
                 </thead>
                 <tbody>
                     <tr>
                        <td><%= nome %></td>
                        <td><%= email %></td>
                        <td><%= cargo %></td>
                        <td><%= cpf %></td>
                        <td><%= dataNasc %></td>
                        <td><%= nacionalidade %></td>
                     </tr>
                    
                </tbody>
            </table>
        </div>
</body>
</html>